@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

body {
    overflow: hidden;
}

#controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 5vh;
    background: rgba(255, 255, 255, 0.1);
}

#arrayForm {
    display: inline-flex;
    height: 100%;
    align-items: center;
}

#sortForm {
    margin-left: 1vw;
    display: inline-flex;
    height: 100%;
    align-items: center;;
}

form span {
    color: white;
    font-size: 2.5vh;
    margin: 0 1vw;
}

form button {
    margin: 0 1vw;
    cursor: pointer;
}

#controls form span {
    margin-right: 1vw;
}

#controls > span {
    float: right;
    line-height: 5vh;
    vertical-align: middle;
    margin-right: 3vw;
    color: white;
}

#controls input[type='range'] {
    width: 15vw;
}